/*first section*/

.first-text {
 background-color:rgb(240, 208, 208);
 display: flex;
 width: 1700px;
 height: 850px;
 flex-shrink: 0;
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;
}

.title1 {
 display: block;
 justify-content: center;
 align-items: center;
 padding: 200px 50px 150px 200px;
 font-size: larger;
}

.image1 {
 padding: 50px 100px 0px 0px;
 width: 635px;
 height: 800px;
 flex-shrink: 0;
}

.btn1 {
 display: inline-flex;
 padding: 20px 43px;
 align-items: flex-start;
 gap: 10px;
 border-radius: 10px;
 background: #E55473;
}

.banner-title {
 font-size: 50px;
}

.banner-content {
 font-family: gabriola;
 font-size: 25px;
}

/*second section here*/
.second-sec {
 background-color:rgb(240, 208, 208);
 display: block;
 width: 1700px;
 height: 1750px;
 flex-shrink: 0;
 margin-left: auto;
 margin-right: auto;
 margin-top: 80px;


}

.title2 {
 display: block;
 justify-content: center;
 align-items: center;
 padding: 100px 50px 150px 200px;
 font-size: larger;
 text-align: center;

}

.banner-title2 {
 font-size: 40px;
 padding-right: 150px;
}

.img-sec2 {
 display: flex;
 justify-content: center;
}

.sec2-img1 {
 width: 300px;
 height: 400px;
 flex-shrink: 0;
 border-radius: 300px 300px 0px 0px;
 background: rgba(167, 33, 98, 0.15);
 margin-right: 30px;

}

.sec2-img2 {
 width: 300px;
 height: 400px;
 flex-shrink: 0;
 border-radius: 300px 300px 0px 0px;
 background: rgba(5, 151, 160, 0.15);
 margin-right: 30px;

}

.sec2-img3 {
 width: 300px;
 height: 400px;
 flex-shrink: 0;
 border-radius: 300px 300px 0px 0px;
 background: rgba(71, 125, 17, 0.15);
 margin-right: 30px;
}

.icon-section-containt {
 text-align: center;
 width: 700px;
 height: 200px;
 flex-shrink: 0;
 border-radius: 8px;
 background-color: rgba(235, 199, 244, 0.749);
 padding: 200px 200px 150px 150px;
 margin-left: 330px;
 margin-top: 100px;

}

.sec2-p {
 font-family: gabriola;
 font-size: 20px;
 font-weight: bold;
}

.banner-content2 {
 font-size: 40px;
 font-family: gabriola;
 padding-right: 100px;
}

/*third section*/

.icon-img {
 display: inline-block;
 margin: 20px;
}

.img-contain {
 background-color:rgb(240, 208, 208);
 display: block;
 width: 1700px;
 height: 600px;
 flex-shrink: 0;
 margin-left: auto;
 margin-right: auto;
 margin-top: 80px;
 display: flex;
}

.sec-text {
 display: block;
 justify-content: center;
 align-items: center;
 padding: 200px 50px 150px 200px;
 font-size: larger;
 text-align: left;
}

.third-img {
 width: 318px;
 height: 420px;
 flex-shrink: 0;
 padding-top: 100px;
 padding-right: 250px;
}

.sec-p {
 text-align: center;
 padding-right: 300px;
 font-family: gabriola;
 font-size: 25px;

}

.span-off {
 color: red;
}

.btn2 {
 display: inline-flex;
 padding: 20px 43px;
 align-items: flex-start;
 gap: 10px;
 border-radius: 8px;
 background: #E55473;
 text-align: center;
 justify-content: center;

}

.hot-sec {
 margin-left: 100px;

}

.btn-div {
 padding-left: 200px;
}

/*forth section*/
.section4 {
 display: block;
 background-color:rgb(240, 208, 208);
 width: 1700px;
 height: 1000px;
 flex-shrink: 0;
 margin-left: auto;
 margin-right: auto;
 margin-top: 80px;
}

.sec4-img {

 text-align: center;
 padding-top: 100px;


}

.sec4-head {
 text-align: center;
 padding-top: 100px;
}

.sec4-img1 {
 padding-right: 20px;
}

.sec4-img2 {
 padding-right: 20px;
}

.sec4-img3 {
 padding-right: 20px;
}

.sec4-img4 {
 padding-right: 20px;
}

.sec4-text {
 padding-left: 600px;
 padding-right: 500px;
 font-family: gabriola;
 font-size: 30px;
}

.head4 {
 padding-left: 100px;
 font-size: 40px;

}

/*background&input section*/
.back-sec4 {
 border-radius: 8px;
 background: url(./Flower_Asset/Rectangle\ 9.png), white 0px -1000.444px / 100% 10000.800% no-repeat;
 background-repeat: no-repeat;
 flex-shrink: 0;
 width: 1700px;
 height: 500px;
 flex-shrink: 0;
 margin-left: auto;
 margin-right: auto;
 margin-top: auto;


}


.sec-back4-head {
 text-align: center;
 display: block;
 flex-shrink: 0;
 margin-top: 80px;
 margin-right: 200px;

}

.sec4-title {
 padding-top: 100px;
 font-size: 50px;
}

.btn4 {
 text-align: center;
 display: flex;
 margin-left: 400px;
}

.btn-sub {
 margin-left: 20px;
 width: 150px;
 height: 54px;
 flex-shrink: 0;
 color: #070103;
 border-color: rgb(30, 63, 250);
 border-radius: 8px;
 background: #f50707;
}

.btn4-inpt {
 width: 500px;
 height: 50px;
 flex-shrink: 0;
 font-family: gabriola;
 font-size: 20px;
}

.sec-back4-text {
 margin-bottom: 30px;;
}
/*footer section css*/

.footer{
 text-align: center;
 width: 1700px;
 height: 600px;
 background-color:black;
 flex-shrink: 0;
 margin-top: 80px;
 margin-left: auto;
 margin-right: auto;
}
.foot-head{
 padding-top: 100px;
 color:rgb(249, 243, 243);
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.span-flow{
 color: red;
}
.foot-pg{
 color: white;
 font-family: gabriola;
 font-size: 30px;
}
.contact{
 color: white;
 font-size: 40px;
 ;
}
.links{
 text-decoration: none;
}